.Name{
  color: #22dd22;
}
.Score{
  color: #65e765;
}
.Link {
  color: #4fe34f;
  text-decoration: none;
}

.Name, .Score, .Link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  border: 1px solid lightgrey;
}
.Image {
  width: 250px;
  height: 250px;
}

@media (min-width: 1001px) {
  .Image {
    width: 450px;
    height: 450px;
  }
}
