.Input, .Button {
  width: 250px;
  display: flex;
  border-width: 0;
  height: 70px;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 2em;
}

.Input {
  background-color: lightgreen;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.Button {
  background-color: cornflowerblue;
  border-radius: 0 0 5px 5px;
  justify-content: center;
  align-items: center;
}
.Button:hover {
  background-color: #4881ea;
  color: white;
}

@media (min-width: 450px) and (max-width: 700px) {
  .Input, .Button {
    width: 420px;
    height: 120px;
  }
}

@media (min-width: 701px) {
  .Input, .Button {
    width: 600px;
    height: 130px;
  }
}

@media (min-width: 1001px) {
  .Input, .Button {
    width: 950px;
    height: 140px;
  }
}
