.Container {

  display: flex;
  width: 100vw;
  font-family: 'Baloo Bhaina', cursive;
  justify-content: center;
  align-items: center;
}
.Main {
  margin-top: 25px;
  width: 250px;
}

.UserList {
  width: 250px;

}


@media (min-width: 400px) {
  .Container {
    margin: auto;
  }
}
